openapi: 3.0.3
info:
  title: 'Electrotech API — توثيق واجهات النظام'
  description: 'REST API for the Electrotech ERP platform: sales pipeline, technical office, procurement, warehouse, manufacturing, delivery and accounting.'
  version: 1.0.0
servers:
  -
    url: 'https://app.electrotech.findosystem.com'
tags:
  -
    name: '0. Meta'
    description: "\nService discovery and shared vocabulary. Call these once at app start; the\npayloads change only when the platform is redeployed."
  -
    name: '1. Authentication'
    description: "\nSign in, sign out and token rotation.\n\nEvery other endpoint in this API requires a bearer token obtained here:\n\n    Authorization: Bearer 12|xxxxxxxxxxxxxxxx\n    Accept: application/json"
  -
    name: '2. Profile'
    description: "\nThe signed-in user's own account: who am I, edit my details, change my\npassword. Managing *other* users lives under \"Users\" and is permission-gated."
  -
    name: '3. Devices'
    description: "\nThe caller's own active sign-in sessions. Every login creates one; this is\nhow a user reviews them and signs a lost device out.\n\nStrictly self-scoped: there is no endpoint here to inspect or revoke another\nuser's sessions. An administrator who needs to lock an account out disables\nthe user through the Users endpoints instead."
  -
    name: '4. Users'
    description: "\nAdministration of user accounts. Every endpoint is gated by the same\n`users.*` permissions and the same UserPolicy the admin panel uses — the API\nintroduces no parallel authorization."
  -
    name: '5. Roles'
    description: "\nRoles and their attached permissions. Gated by `roles.manage` through the\nexisting RolePolicy — the same gate the panel's Roles screen uses.\n\nThe Admin role is protected: RolePolicy refuses to delete it, and the\ndeploy-time seeder force-syncs it to every permission in the catalog. Do not\ntry to trim it through this API; the next deploy would undo it."
  -
    name: '6. Permissions'
    description: "\nThe read-only permission catalog, grouped exactly as the panel's Roles\nscreen groups it. A Flutter role-editing screen renders this directly.\n\nPermissions are defined in code (RoleAndPermissionSeeder) and synced on\nevery deploy, so there is deliberately no create/update/delete here — a\npermission invented at runtime would be one nothing ever checks."
  -
    name: '7. Items'
    description: "\nThe material catalogue (الأصناف): raw materials, semi-finished parts,\nfinished goods and consumables. Every BOM line, purchase-order line, voucher\nline and stock balance in the platform points at one of these, so this is\nusually the first list a client caches after logging in."
  -
    name: '8. Customers'
    description: "\nThe customer file (العملاء). A customer owns projects and delivery\nvouchers, and carries a running ledger balance built from the account\nentries those documents post."
  -
    name: '9. Suppliers'
    description: "\nThe supplier file (الموردين). A supplier owns purchase orders and addition\nvouchers, and carries a running ledger balance from the account entries\nthose documents post."
  -
    name: '10. Attachments'
    description: "\nDocuments attached to a record: the drawings and BOQ on a project, the\ncommercial registry and tax card on a supplier, the scanned purchase order,\nthe goods-receipt note on an addition voucher.\n\nOne endpoint serves all of them. The caller names the owner with\n`owner_type` + `owner_id`, where `owner_type` is one of a fixed set of keys\n(`project`, `customer`, `supplier`, `purchase_order`, `addition_voucher`) —\nnever a PHP class name. See App\\Http\\Api\\AttachmentOwner for why that\ndistinction is load-bearing.\n\n**Authorization has no permissions of its own.** Attaching a file to a\nsupplier is an edit of that supplier and reading one is a view of it, so the\nowner's existing policy answers both. That is deliberate: a separate\n`attachments.*` permission would start out matching the panel and drift the\nfirst time somebody changed one and not the other."
  -
    name: '11. Operations'
    description: "\nOperations (العمليات) are the spine of the platform: a tender becomes an\nin-hand job, becomes an active operation, and everything downstream — BOMs,\npurchase orders, work orders, delivery vouchers, the cost centre — hangs off\none of these rows.\n\nThis controller covers the record itself. The pipeline transitions between\nstatuses live in PipelineController, because they are state-machine moves\nwith their own pre-conditions and their own permissions, not field edits."
  -
    name: '12. Sales pipeline'
    description: "\nMoving an operation between stages:\n\n    Draft → Tender → In Hand → In Progress (active operation)\n                          ↓\n                        Lost\n\nThese are separate endpoints rather than a `status` field on PATCH for two\nreasons. Each move has its own permission (`projects.move_to_active` is not\n`projects.edit`), and each has pre-conditions the caller cannot see —\nmoving to Active needs both the consultant's acceptance email and the\nmanager's approval on file.\n\nEvery rule here lives in App\\Services\\SalesPipelineService, which the\nFilament panel calls too. A pre-condition failure arrives as\n**422 `business_rule_violated`** with a message written for a person: show\nit to the user directly rather than mapping it."
  -
    name: '13. Offers & BOQ'
    description: "\nThe quotations submitted for an operation, and the bill of quantities behind\neach one.\n\n**The money is derived, never posted.** A client sends line items —\ndescription, unit, quantity, unit price — and the server multiplies, sums,\napplies VAT and installation, and returns the totals. Accepting a\n`grand_total` from the client would mean the printed offer, the pipeline\nlist and the ledger could each hold a different number for the same\nquotation."
  -
    name: '14. Bills of materials'
    description: "\nThe Technical Office's output (قائمة المواد): what a job, or a product, is\nmade of.\n\nA BOM is either **project-scoped** (this operation needs these materials) or\n**standard** (`output_item_id` set — the fixed recipe for building this\nproduct, تركيبة المنتج القياسية). Both live here; `scope` tells them apart.\n\nThe state machine is Draft → Pending approval → Approved, and approving\nsupersedes the previously approved version of the same subject. That matters\ndownstream: stock reservations and a work order's material plan both read\n\"the latest approved BOM\", so leaving two approved would make which recipe a\njob used depend on a tiebreak rather than a decision."
  -
    name: '15. Purchase orders'
    description: "\nBuying (أوامر الشراء): Draft → Submitted → Partially received → Received.\n\nTwo things about this module surprise people reading it for the first time.\n\n**The money is derived.** `subtotal`, `vat_amount`, `profit_tax_amount` and\n`total_amount` are all computed from the line items and the configured\nrates; the client sends quantities and unit prices only. And the total is\n`subtotal + VAT − profit tax` — the 1% profit-tax withholding is deducted,\nand skipped entirely for an exempt supplier.\n\n**Receiving does not touch stock directly.** It raises an addition voucher\n(إذن إضافة), the single goods-receipt document, and posts it. That voucher\nadds the stock once, credits the supplier, and closes the order by comparing\nordered against received. Adding stock here as well would double-count every\ndelivery."
  -
    name: '16. Stock reservations'
    description: "\nHolding stock for an operation (حجز الكمية للعملية).\n\nA reservation lowers an item's **available** quantity without moving\nanything physically, so the same material cannot be promised to two jobs.\nReleasing it hands the quantity back — normally when the materials are\nactually issued to manufacturing.\n\nReserving more than is available is refused by InventoryService, and arrives\nas `422 business_rule_violated` naming the item, the warehouse, and the\nquantity that was actually free."
  -
    name: '17. Inventory'
    description: "\nWhat is in the warehouses, how it got there, and what it is worth.\n\nEverything here is **read-only**. Stock is never moved by writing to a\nbalance: it moves because a document was posted — an addition voucher, an\nissue voucher, a reservation. Exposing a writable balance would let a client\nput the ledger and the on-hand figure out of step with nothing to reconcile\nthem against, which is the one failure an inventory system cannot recover\nfrom."
  -
    name: '18. Addition vouchers'
    description: "\nGoods receipt (إذن إضافة). This is the **only** document that adds purchased\nstock, which is why receiving against a purchase order produces one rather\nthan touching the balance directly.\n\nThe lifecycle is Draft → Posted, and posting is the moment everything\nhappens at once: the stock is added, the supplier is credited, and any linked\npurchase order has its received quantities updated and its status re-derived.\nA posted voucher is immutable — the correction for a mistake is a separate\ndocument, not an edit, because the stock and the ledger have already moved.\n\nAfter posting, the **invoicing** state takes over: `not_invoiced` until the\nsupplier's invoice arrives, then `invoiced`, or `closed_uninvoiced` when it\nis decided the invoice never will. That field is derived on every save —\nrecord an invoice or close the voucher to change it, never write it."
  -
    name: '19. Depreciation vouchers'
    description: "\nWriting off manufacturing loss (إذن إهلاك): material that went into\nwork-in-progress and did not come out as product.\n\nThe flow is deliberately two-step. Creating one against a work order builds\na **draft pre-filled with everything that was issued to that order, all at\nquantity zero** — the user then sets quantities only for what was actually\nlost and leaves the rest alone. Lines still at zero are ignored when it\nposts.\n\nPosting takes the loss out of the WIP balance (lowering the item's quantity\nand value on its stock card) and writes a balanced journal entry carrying\nthe value to a loss account. `loss_type` decides the operation-cost\ntreatment — see DepreciationVoucherResource.\n\nA work order is required, which is why this document sits at the boundary\nwith the manufacturing module. Only the reference is needed here; the work\norder's own endpoints arrive in Module 7."
  -
    name: '20. Manufacturing orders'
    description: "\nأمر التصنيع — the document the factory works from.\n\nThe lifecycle is a chain of gates, each with its own permission, and none of\nthem is a `status` you can PATCH:\n\n  Draft → **approve-order** (PMO manager) → Pending\n        → **start** → InProgress\n        → **submit-qa** (declare what was made) → QaReview\n        → **approve-qa** (QA sign-off)\n        → **finish-manufacturing** (needs BOTH approvals; opens the quality\n          sheet and tells every department the product is ready)\n        → **complete** (produces stock, consumes WIP, writes the loss record)\n\nTwo gates are worth knowing before you build a screen. `approve-order` and\n`start` both refuse an order with no positive planned quantity or no\nplanned dates — the plan is what variance, efficiency and loss are measured\nagainst, and a zero plan silently zeroes all three. And\n`finish-manufacturing` refuses unless the PMO approval **and** the QA\napproval are both already on the record; `approvals.can_finish_manufacturing`\non the resource answers the same question, so hide the action rather than\nlet the user discover the refusal.\n\nMaterials and products are each written with a single PUT carrying the whole\nlist. See `replaceMaterials` for why."
  -
    name: '21. Issue vouchers'
    description: "\nإذن صرف — material leaving the raw store for a work order.\n\nA voucher is always raised **against a work order**, and the server\npre-fills it with what that order still needs: its material plan, minus what\nother vouchers already carry, net of posted returns. The warehouse then\nedits the list and posts it. Posting transfers every line from raw materials\ninto work-in-progress and loads the value onto the operation.\n\nThe rule that shapes this whole module is the **excess gate**. A voucher\nthat would take the order past its plan is refused with\n`422 issue_excess_requires_approval`, carrying the offending rows in\n`details.excess`. Going over is allowed — a broken part has to be replaced —\nbut only as a decision: a user holding `issue_vouchers.approve_excess`\nretries with `allow_excess` and a written reason, and both are stamped on\nthe document.\n\nOnly POSTED vouchers count as already-issued at that gate. A sibling draft\nhas not moved anything, so it cannot make a voucher \"excess\". Drafts *are*\ncounted when suggesting lines, so two store keepers do not each prepare a\nvoucher for the same remaining material."
  -
    name: '22. Return vouchers'
    description: "\nإذن ارتداد — unconsumed material going back from the floor to the store.\n\nThe exact inverse of an issue voucher: posting transfers each line out of\nwork-in-progress and back into the SAME item's raw stock, and reverses its\nvalue off the operation and the work order. The material re-enters under its\nown code (there is no separate scrap item), so it can simply be issued\nagain.\n\nA draft is pre-filled with one line per material the order was issued, each\nat **quantity zero**, and the warehouse raises only the lines that actually\ncame back. Posting ignores the zeros. That is why the write endpoint allows\na zero quantity where an issue voucher would not: deleting a hundred lines\nto return two is not a workflow anyone completes correctly on a tablet.\n\nScrap items are left out of the pre-fill — scrap does not go back into raw\nstock."
  -
    name: '23. Quality sheets'
    description: "\nورقة الجودة — the test record and the certificate printed from it.\n\nA draft sheet is opened **automatically** when a work order's manufacturing\nis declared finished, seeded with ten blank test rows and a snapshot of the\norder's technical specification. `POST /work-orders/{id}/quality-sheet` is\nidempotent and returns the existing sheet rather than a second one, so a\nclient may call it freely.\n\nLifecycle: Draft → **fill** (QA signs the readings) → **approve** (the\nfactory manager's final sign-off, which announces to every department that\nthe operation has finished manufacturing). Approval is final: an approved\nsheet can no longer be edited, which is what makes the printed certificate\nworth anything.\n\nReadings are written with `PUT /quality-sheets/{id}/lines`, separately from\nthe signature, so an inspector can save a partly-filled grid all afternoon\nand sign once."
  -
    name: '24. Production entries'
    description: "\nالإنتاج والفاقد — what a completed work order actually produced, and what it\nlost doing so. One row per finished product per completed order.\n\n**Read-only, deliberately.** `ProductionEntryPolicy` answers false to\ncreate, update and delete, and this controller has no write endpoints to\nmatch. These rows are written by the work order's `complete` transition, at\nthe same moment the stock moves. A writable production entry would let the\nloss figures be edited away from the movements that produced them, with\nnothing left to reconcile against.\n\n`costs.loss_value` is the money the scrap cost — scrap × the actual cost per\nproduced unit — not the quantity. It is the figure the value-based loss\nreport aggregates, which is why it is published here rather than left to\neach client to re-derive."
  -
    name: '25. Delivery vouchers'
    description: "\nإذن تسليم — finished goods leaving the store for a customer.\n\nThe document turns on a **dual signature**: technical management and\nfinancial management sign independently, in either order, through two\nseparate endpoints carrying two separate permissions. Neither is a field.\n\nThe second signature to arrive **activates** the voucher, and activation is\nthe moment everything happens at once, in one transaction: the finished\ngoods are deducted from stock, the customer's account is debited with the\ndelivered value, and — when no work order is still open on the operation —\nits cost centre is closed into cost of goods sold.\n\nThat is why the signature and the activation are atomic. If activation fails\n(insufficient finished goods, say), the signature must not survive it;\notherwise the voucher would show an approval that never took effect while\nthe user was told it failed.\n\nCost-centre closing is deliberately silent and deliberately last: a missing\naccount or an early delivery must never roll back a delivery that physically\nhappened. Finance can always close the centre by hand afterwards."
  -
    name: '26. Delivery minutes'
    description: "\nمحضر التسليم — the record that a delivery was handed over, and the document\ncirculated to every department afterwards.\n\nA minute is always raised **from a delivery voucher** and inherits that\nvoucher's operation and customer. Sending them separately would allow a\nminute naming a different customer from the delivery it records — a\ncontradiction nobody could resolve months later.\n\n`distribute` is the one state it has, and it is one-way and idempotent:\ncalling it twice does not send a second round of notifications. After\ndistribution the minute freezes, because every department is already\nholding the copy that went out."
  -
    name: '27. Installations'
    description: "\nمرحلة التركيب — installing what was delivered, on the customer's site.\n\nPending → **start** → In Progress → **complete** → Completed. Each\ntransition stamps its own timestamp, which is why there is no writable\n`status`: a status a client can set is a status that drifts from the times\nbeside it.\n\nInstallation **expenses** are not modelled here. They reach the operation\nthrough the general ledger, tagged to it like every other cost, so that the\noperation's cost file has one source rather than a parallel field only this\nscreen knows about."
  -
    name: '28. Site surveys'
    description: "\nمعاينة الموقع — the visit that precedes an installation.\n\nThe one thing worth knowing: `measurements` is free text, not a structured\nfield. What a surveyor needs to write down differs by site and by product,\nand a schema that fitted the last ten sites would silently lose the\neleventh. Attach photographs through the generic attachments endpoint with\n`owner_type=project`."
  -
    name: '29. Chart of accounts'
    description: "\nدليل الحسابات — the accounts every journal line points at.\n\nTwo fields on an account decide how the rest of the platform reads it.\n`type` fixes its natural side, published as `natural_sign`: multiply that by\n(debit − credit) and you get a balance the right way up, which is what stops\na client showing every liability as a negative number.\n`statement_section` is the axis the financial statements are built on — an\naccount without one still posts and still appears in the trial balance, but\nlands nowhere on the income statement or the balance sheet.\n\nThe detail endpoint carries the account's **balance**; the list does not.\nWorking a balance out means walking the account's posted lines, so a page of\ntwo hundred accounts would pay for two hundred walks."
  -
    name: '30. Journal entries'
    description: "\nقيود اليومية — the general ledger's only source of movement.\n\nAn entry is written as **two columns**, مدين and دائن, rather than as rows\neach carrying a direction. The side a line is written on IS its direction,\nwhich removes a whole class of mistake: a row cannot end up on the wrong\nside because someone mistyped a field. The read shape gives you both — the\nflat `lines` and the split `debit_lines` / `credit_lines`.\n\nDraft → **post**. Posting enforces double entry: at least two lines, and\ntotal debits equal to total credits. A posted entry is then **immutable** —\nno edit, no delete, no re-post — because its numbers have already reached\nthe trial balance and every statement built on it. The correction for a\nmistake is a reversing entry.\n\nNumbering is threefold and all of it is the server's: `entry_serial` is the\ncontinuous sequence an auditor follows, `document_number` the per-type\nsequence (أمر صرف / إيصال توريد / قيد تسوية), and `entry_number` the\nhuman-readable reference."
  -
    name: '31. Sales invoices'
    description: "\nفواتير المبيعات — invoicing what was delivered.\n\nAn invoice is always raised **against a delivery voucher that is active**,\nwhich is to say against goods that actually left the store. Its customer is\ntaken from that voucher rather than sent, so an invoice can never name\nsomeone other than whoever received the goods.\n\nA voucher may be invoiced in instalments, but the instalments may not add up\nto more than was delivered. That single rule is what keeps \"delivered\" and\n\"invoiced\" reconcilable, and it is what drives the voucher's own\n`invoicing.status`, which is **re-derived** on every change — record an\ninvoice or delete one to move it, never write the field."
  -
    name: '32. Operation payments'
    description: "\nالدفعات والمقبوضات — cash moving in or out against an operation.\n\nRecording a payment can do three things at once, depending on configuration\nand on what the payload carries:\n\n 1. it writes the payment;\n 2. when automatic journalling is on and both accounts resolve, it writes\n    **and posts** a balanced journal entry, linking it back;\n 3. when the payment names a financial claim, it allocates to it, and the\n    claim collects itself once it is fully paid.\n\nStep 2 is what freezes the payment. Once `journal_entry_id` is set the\npolicy refuses edits and deletes: the money is in the ledger, and the\ncorrection for a posted entry is another entry, not a quiet edit of the\nfirst."
  -
    name: '33. Party statements'
    description: "\nكشف حساب — what a customer or a supplier owes, and why.\n\nEntirely **read-only**, and not by omission: `AccountEntryPolicy` refuses\ncreate, update and delete, and there are no write routes to match. These\nrows are written by documents — posting an addition voucher credits its\nsupplier, activating a delivery voucher debits its customer. An editable\nstatement could be brought into line with a balance somebody expected,\nrather than with the documents that produced it.\n\nThe two shapes here answer different questions. The **statement** endpoints\ngive one party's movements in order with a running balance, which is the\ndocument you print and send. The flat **index** is for searching across\nparties — it carries no running balance, because on a filtered or re-sorted\nlist that number would change depending on how you looked at it."
  -
    name: '34. Financial claims'
    description: "\nالمطالبات المالية — what the company is asking a customer to pay, for a\ngiven operation.\n\nDraft → **submit** → Submitted → **collect** → Collected. Three permissions,\nbecause raising a claim, sending it to the customer and declaring it paid\nare three different acts by three different people.\n\nSubmission is gated on the work being deliverable: the operation is\nCompleted, or at least one delivery to the customer is active. Claiming for\nwork that has not been delivered is how a receivable becomes a dispute.\n\nA claim also **collects itself** when payments allocated to it add up to its\namount, which is why `collect` is normally only called by hand for cash that\narrived outside the platform."
  -
    name: '35. Credit facilities'
    description: "\nالتسهيلات الائتمانية — a credit line, and how much of it is already\ncommitted to operations.\n\nThe rule the whole resource exists for: **a facility cannot be promised\ntwice.** An allocation is refused when it would take the committed total\npast the limit, so read `utilization.available` on the detail endpoint and\nshow it before anyone types an amount — it is cheaper to stop a user than to\nrefuse them.\n\nReleasing an allocation gives the room back. Nothing here touches the\nledger: a facility is a commitment, not a movement."
  -
    name: '36. Cost-centre closing'
    description: "\nإقفال مركز التكلفة — carrying an operation's accumulated cost out of\ninventory and into cost of goods sold, once its goods have reached the\ncustomer.\n\nThere are two paths in, and they behave differently on purpose. The\n**automatic** one fires when a delivery voucher activates: it is silent, it\nnever fires while a work order is still open on the operation (cost would be\ncharged to sales before it finished accruing), and it never throws — a\nmissing account must not roll back a delivery that physically happened.\n\nThe **manual** one is this endpoint, and every refusal it makes is explicit,\nso the user learns why nothing was posted rather than wondering: no active\ndelivery, nothing left to close, or the chart missing the COGS or inventory\naccount the entry needs.\n\nUndoing a closing is a **reversal**, never a deletion. The journal entry\nbehind it is posted and immutable, so the reversal writes a mirror-image\nentry plus a negative closing row; the unclosed balance comes back on its\nown and the audit trail stays whole."
  -
    name: '37. Reports'
    description: "\nThe financial reports, and the two views of an operation that summarize\neverything else: what it cost, and how far along it is.\n\nThree things are true of every endpoint here and are not repeated below.\n\n**They are on the reports rate limiter**, which is much tighter than the\nread limiter. Each one walks the ledger — the trial balance walks every\nactive account's whole posted history — so they are meant to be fetched on\ndemand and cached by the client, never polled.\n\n**Every money figure is a decimal string**, at two places. A JSON number is\na binary double in Dart, and a statement re-summed on the client would drift\nfrom the one the ledger holds (API_Development_Plan.md §3.10). Accounts\ninside a report appear as `{id, code, name, type}`, never as full records.\n\n**Each carries its own permission**, matching the panel's: `trial_balance.view`,\n`general_ledger.view`, `journal_daybook.view`, `income_statement.view`,\n`balance_sheet.view`, `cash_flow_statement.view`, `operating_statement.view`.\nSeeing what an operation cost and seeing the company's balance sheet are\ndifferent privileges and stay that way.\n\nDates are inclusive on both ends. An end before its start is a 422 rather\nthan an empty report, because an empty report looks like a true answer."
  -
    name: '38. Printable documents'
    description: "\nThe printable PDFs — an offer, a purchase order, a quality certificate, the\ndaybook, the ledger, the financial statements, a work order's material\nvariance.\n\nEvery endpoint here **streams `application/pdf`, not the JSON envelope.**\nThat is the one place in the API where the response is not an envelope, and\nit is deliberate: a client that wants a document wants the bytes to hand to\nthe platform's viewer or share sheet, not a base64 blob inside JSON that it\nwould have to decode and write to a file first.\n\nThese delegate to the **same controllers the admin panel prints through**,\nso the paper coming out of a phone is byte-for-byte the paper coming out of\na desktop. Re-implementing the layouts here would guarantee the two drift,\nand the printed offer a customer holds is not a thing to let drift.\n\nEach document keeps its own print permission (`project_offers.print`,\n`purchase_orders.print`, `quality_sheets.print`, and the report permissions\nfor the finance documents), enforced inside the shared controller. Being\nable to read a record through the API is not the same as being able to print\nit.\n\n**Language**: pass `?lang=ar` or `?lang=en` to choose the document's\nlanguage independently of the caller's UI locale — the customer's copy of an\noffer is not always in the language of whoever pressed print. An unknown or\nmissing value falls back to each document's own default.\n\nThey sit on the reports rate limiter: rendering a PDF is the most expensive\nthing the API does."
  -
    name: '39. Dashboard'
    description: "\nThe five counts the platform opens on: active operations, deliveries waiting\nfor a signature, purchase orders out with suppliers, orders on the shop\nfloor, and items below their minimum.\n\nThese read the **same cache keys the admin panel's own dashboard reads** —\n`dashboard:active_projects` and its four siblings — rather than recomputing\nthe numbers. Two consequences worth knowing:\n\n - a phone and a desktop opened side by side show the same figures, because\n   they are the same figures, not two independent counts that happen to\n   agree most of the time;\n - the numbers are invalidated by the model observers the moment the\n   underlying state changes, with a five-minute ceiling as a safety net in\n   case a write ever bypasses model events.\n\n`low_stock` is the expensive one — it aggregates availability per item\nacross every warehouse — which is why the whole endpoint sits on the reports\nrate limiter rather than the read one."
  -
    name: '40. Notifications'
    description: "\nWhat the platform has told **you**: a manufacturing order finished, a\nquality sheet approved, a delivery minute circulated.\n\nEvery endpoint here is **self-scoped** and carries no permission. That is\ndeliberate and it is the safest possible rule: a notification is addressed\nto one user, so the only question is whether you are that user. There is no\n\"read someone else's notifications\" endpoint to get the authorization wrong\non.\n\nThese are the same rows the admin panel's bell shows, so marking one read on\na phone clears it on the desktop.\n\nThe body of a notification is the panel's own payload — `title`, `body`,\n`icon`, `color`, `actions`. It is passed through as `data` rather than\nreshaped, because the panel's notification format is what every producer in\nthe platform already writes, and translating it here would mean a second\nformat to keep in step."
  -
    name: '41. Activity log'
    description: "\nسجل النشاط — who changed what, and when.\n\n**Read-only, and append-only underneath.** `ActivityPolicy` answers false to\ncreate, update and delete, and there are no write routes. A log that could\nbe edited is not a log.\n\nEach row carries the subject it is about (`subject_type` + `subject_id`), the\nuser who caused it, and the `properties` bag holding the before/after values\nthe model recorded. The properties are passed through as written: they are\nevidence, and reshaping evidence for presentation is how detail goes missing.\n\nThe log grows without limit, so the index is filtered rather than browsed —\n`filter[subject_type]` and `filter[subject_id]` together answer \"what\nhappened to this record\", which is the question that gets asked."
  -
    name: '42. Global search'
    description: "\nOne box, seven record types: operations, items, customers, suppliers,\npurchase orders, manufacturing orders and delivery vouchers.\n\nTwo decisions shape this endpoint.\n\n**It respects the caller's permissions per type.** A user who cannot view\nsuppliers gets no supplier results — not an empty list they might read as\n\"no such supplier\", but a response whose `types` array does not include\nsuppliers at all, so a client can say what was searched. A global search\nthat ignored per-type permissions would be the easiest way in the platform\nto confirm that a record exists without being allowed to read it.\n\n**It is deliberately shallow.** Each type returns at most `limit` rows\n(five by default, twenty at most) with just enough to render a result line\nand navigate to the record. It is a jump-to, not a report: anything that\nneeds filtering, sorting or paging belongs on that type's own index, which\nis where the query language lives.\n\nThe term is matched against the identifiers people actually type — a code, a\nnumber, a name — never against notes or descriptions, which would bury the\nexact match everyone is looking for under prose that merely mentions it."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Obtain a token from <code>POST /auth/login</code> with your email, password and a device name. The plain-text token is returned <b>once</b> — store it in secure storage (e.g. <code>flutter_secure_storage</code>), never in shared preferences. Tokens expire; rotate them with <code>POST /auth/refresh</code> before <code>expires_at</code>. A token can be issued with narrowed abilities (e.g. <code>["inventory"]</code>) so a shared warehouse tablet cannot reach finance endpoints even if its account could.'
security:
  -
    default: []
paths:
  /api/v1/meta:
    get:
      summary: 'Service info'
      operationId: serviceInfo
      description: "A cheap, unauthenticated liveness + version probe. Use it as the app's\nconnectivity check and to detect that a client build is older than the\ndeployed API."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    service: Electrotech
                    api_version: '1'
                    server_time: '2026-08-05T09:30:00+00:00'
                    locales:
                      - en
                      - ar
                    default_locale: en
                    token_ttl_minutes: 43200
                    max_per_page: 100
                    requires_idempotency_key: true
                    abilities:
                      - identity
                      - sales
                    docs_url: 'https://app.electrotech.findosystem.com/api/docs'
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      service:
                        type: string
                        example: Electrotech
                      api_version:
                        type: string
                        example: '1'
                      server_time:
                        type: string
                        example: '2026-08-05T09:30:00+00:00'
                      locales:
                        type: array
                        example:
                          - en
                          - ar
                        items:
                          type: string
                      default_locale:
                        type: string
                        example: en
                      token_ttl_minutes:
                        type: integer
                        example: 43200
                      max_per_page:
                        type: integer
                        example: 100
                      requires_idempotency_key:
                        type: boolean
                        example: true
                      abilities:
                        type: array
                        example:
                          - identity
                          - sales
                        items:
                          type: string
                      docs_url:
                        type: string
                        example: 'https://app.electrotech.findosystem.com/api/docs'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '0. Meta'
      security: []
  /api/v1/meta/enums:
    get:
      summary: 'Enum catalog'
      operationId: enumCatalog
      description: "Every enumerated value in the platform — project statuses, item types,\nvoucher statuses, units of measure — as `{value, label, color}`.\n\nBuild dropdowns and status badges from this instead of hard-coding\noptions in Dart. A new case added on the server then appears in the app\nwithout a release, and the Arabic labels stay in one place. `label`\nhonours `Accept-Language`; `color` is the same semantic colour the web\npanel paints that state."
      parameters:
        -
          in: query
          name: only
          description: 'Comma-separated enum keys to return instead of all.'
          example: 'project_status,item_type'
          required: false
          schema:
            type: string
            description: 'Comma-separated enum keys to return instead of all.'
            example: 'project_status,item_type'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    project_status:
                      -
                        value: tender
                        label: Tender
                        color: info
                      -
                        value: in_progress
                        label: 'In Progress'
                        color: primary
                    item_type:
                      -
                        value: raw_material
                        label: 'Raw Material'
                        color: info
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      project_status:
                        type: array
                        example:
                          -
                            value: tender
                            label: Tender
                            color: info
                          -
                            value: in_progress
                            label: 'In Progress'
                            color: primary
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                              example: tender
                            label:
                              type: string
                              example: Tender
                            color:
                              type: string
                              example: info
                      item_type:
                        type: array
                        example:
                          -
                            value: raw_material
                            label: 'Raw Material'
                            color: info
                        items:
                          type: object
                          properties:
                            value:
                              type: string
                              example: raw_material
                            label:
                              type: string
                              example: 'Raw Material'
                            color:
                              type: string
                              example: info
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '0. Meta'
  /api/v1/auth/login:
    post:
      summary: 'Sign in'
      operationId: signIn
      description: "Exchanges credentials for a bearer token. The plain-text token is\nreturned **once and only once** — store it in secure storage\n(`flutter_secure_storage`), never in shared preferences.\n\nThrottled to 5 attempts per minute per email+IP."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token: 12|Xj3kd...
                    token_type: Bearer
                    expires_at: '2026-09-04T09:30:00+00:00'
                    abilities:
                      - '*'
                    user:
                      id: 1
                      type: user
                      name: 'System Administrator'
                      email: admin@example.com
                      roles:
                        -
                          id: 1
                          name: Admin
                      permissions:
                        - projects.view
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 12|Xj3kd...
                      token_type:
                        type: string
                        example: Bearer
                      expires_at:
                        type: string
                        example: '2026-09-04T09:30:00+00:00'
                      abilities:
                        type: array
                        example:
                          - '*'
                        items:
                          type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          type:
                            type: string
                            example: user
                          name:
                            type: string
                            example: 'System Administrator'
                          email:
                            type: string
                            example: admin@example.com
                          roles:
                            type: array
                            example:
                              -
                                id: 1
                                name: Admin
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1
                                name:
                                  type: string
                                  example: Admin
                          permissions:
                            type: array
                            example:
                              - projects.view
                            items:
                              type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
        422:
          description: 'Wrong credentials'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: validation_failed
                    message: 'The email or password is incorrect.'
                    details:
                      email:
                        - 'The email or password is incorrect.'
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: validation_failed
                      message:
                        type: string
                        example: 'The email or password is incorrect.'
                      details:
                        type: object
                        properties:
                          email:
                            type: array
                            example:
                              - 'The email or password is incorrect.'
                            items:
                              type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '1. Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: warehouse@example.com
                password:
                  type: string
                  description: "The user's password."
                  example: secret123
                device_name:
                  type: string
                  description: 'A human-recognisable device label, shown in the devices list.'
                  example: 'Pixel 8 — Warehouse'
                abilities:
                  type: array
                  description: "optional Narrow the token to specific modules. Omit for the user's full rights."
                  example:
                    - inventory
                    - manufacturing
                  items:
                    type: string
              required:
                - email
                - password
                - device_name
      security: []
  /api/v1/auth/logout:
    post:
      summary: 'Sign out (this device)'
      operationId: signOutthisDevice
      description: "Revokes only the token used to make this call. Other devices stay signed\nin."
      parameters: []
      responses:
        204:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - '1. Authentication'
  /api/v1/auth/logout-all:
    post:
      summary: 'Sign out everywhere'
      operationId: signOutEverywhere
      description: "Revokes every token belonging to the caller, including the current one.\nUse this for \"I lost my phone\"."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    revoked: 3
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      revoked:
                        type: integer
                        example: 3
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '1. Authentication'
  /api/v1/auth/refresh:
    post:
      summary: 'Rotate the access token'
      operationId: rotateTheAccessToken
      description: "Issues a replacement token and revokes the current one atomically. The\nnew token inherits this one's name and abilities — refresh can never\nwiden a token's scope.\n\nCall it when the token is within a few days of `expires_at`. There is no\nseparate refresh-token credential: the access token rotates itself."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token: 13|Kd83j...
                    token_type: Bearer
                    expires_at: '2026-10-04T09:30:00+00:00'
                    abilities:
                      - '*'
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 13|Kd83j...
                      token_type:
                        type: string
                        example: Bearer
                      expires_at:
                        type: string
                        example: '2026-10-04T09:30:00+00:00'
                      abilities:
                        type: array
                        example:
                          - '*'
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '1. Authentication'
  /api/v1/auth/me:
    get:
      summary: 'Who am I'
      operationId: whoAmI
      description: "Returns the caller's profile, roles, and the full flat permission list.\n\nCall this right after login and on app resume: the permission array is\nwhat the app uses to decide which menu items and buttons to show. It is\na UX affordance only — every endpoint re-checks server-side, so a stale\nclient list can never grant access."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: user
                    name: 'System Administrator'
                    email: admin@example.com
                    email_verified_at: null
                    created_at: '2026-01-01T00:00:00+00:00'
                    updated_at: '2026-01-01T00:00:00+00:00'
                    roles:
                      -
                        id: 1
                        name: Admin
                    permissions:
                      - projects.view
                      - projects.create
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: user
                      name:
                        type: string
                        example: 'System Administrator'
                      email:
                        type: string
                        example: admin@example.com
                      email_verified_at:
                        type: string
                        example: null
                        nullable: true
                      created_at:
                        type: string
                        example: '2026-01-01T00:00:00+00:00'
                      updated_at:
                        type: string
                        example: '2026-01-01T00:00:00+00:00'
                      roles:
                        type: array
                        example:
                          -
                            id: 1
                            name: Admin
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: Admin
                      permissions:
                        type: array
                        example:
                          - projects.view
                          - projects.create
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '2. Profile'
  /api/v1/auth/profile:
    patch:
      summary: 'Update my profile'
      operationId: updateMyProfile
      description: "Changes the caller's own name and/or email. Send only the fields you\nwant changed."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    type: user
                    name: 'Ahmed Hassan'
                    email: ahmed@example.com
                    roles:
                      -
                        id: 2
                        name: Sales
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      type:
                        type: string
                        example: user
                      name:
                        type: string
                        example: 'Ahmed Hassan'
                      email:
                        type: string
                        example: ahmed@example.com
                      roles:
                        type: array
                        example:
                          -
                            id: 2
                            name: Sales
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: Sales
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '2. Profile'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'optional New display name.'
                  example: 'Ahmed Hassan'
                email:
                  type: string
                  description: 'optional New email address; must be unique.'
                  example: ahmed@example.com
  /api/v1/auth/change-password:
    post:
      summary: 'Change my password'
      operationId: changeMyPassword
      description: "Requires the current password. On success **every other device is signed\nout** — the device making the call keeps working, so the user is not\nkicked out of the app they are holding."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    other_devices_signed_out: 2
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      other_devices_signed_out:
                        type: integer
                        example: 2
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
        422:
          description: 'Wrong current password'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: validation_failed
                    message: 'The current password is incorrect.'
                    details:
                      current_password:
                        - 'The current password is incorrect.'
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: validation_failed
                      message:
                        type: string
                        example: 'The current password is incorrect.'
                      details:
                        type: object
                        properties:
                          current_password:
                            type: array
                            example:
                              - 'The current password is incorrect.'
                            items:
                              type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '2. Profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'The password in use right now.'
                  example: oldsecret1
                password:
                  type: string
                  description: 'The new password: at least 8 characters with letters and numbers.'
                  example: newsecret1
                password_confirmation:
                  type: string
                  description: 'Must match `password`.'
                  example: newsecret1
              required:
                - current_password
                - password
                - password_confirmation
  /api/v1/auth/devices:
    get:
      summary: 'List my devices'
      operationId: listMyDevices
      description: "Active sessions only — expired tokens are filtered out so the list\nmatches what still works. Newest activity first.\n\nThe token value itself is never returned; only metadata."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 12
                      type: device
                      name: 'Pixel 8 — Warehouse'
                      abilities:
                        - '*'
                      last_used_at: '2026-08-05T09:12:00+00:00'
                      expires_at: '2026-09-04T09:00:00+00:00'
                      created_at: '2026-08-05T09:00:00+00:00'
                      is_current: true
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                    count: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 12
                        type: device
                        name: 'Pixel 8 — Warehouse'
                        abilities:
                          - '*'
                        last_used_at: '2026-08-05T09:12:00+00:00'
                        expires_at: '2026-09-04T09:00:00+00:00'
                        created_at: '2026-08-05T09:00:00+00:00'
                        is_current: true
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 12
                        type:
                          type: string
                          example: device
                        name:
                          type: string
                          example: 'Pixel 8 — Warehouse'
                        abilities:
                          type: array
                          example:
                            - '*'
                          items:
                            type: string
                        last_used_at:
                          type: string
                          example: '2026-08-05T09:12:00+00:00'
                        expires_at:
                          type: string
                          example: '2026-09-04T09:00:00+00:00'
                        created_at:
                          type: string
                          example: '2026-08-05T09:00:00+00:00'
                        is_current:
                          type: boolean
                          example: true
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
                      count:
                        type: integer
                        example: 1
      tags:
        - '3. Devices'
  '/api/v1/auth/devices/{id}':
    delete:
      summary: 'Revoke a device'
      operationId: revokeADevice
      description: "Signs one session out. Revoking the session you are currently using is\nallowed and behaves exactly like `POST /auth/logout`.\n\nA device id belonging to another user returns 422 rather than 404, so\nthe endpoint cannot be used to probe which token ids exist."
      parameters: []
      responses:
        204:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - '3. Devices'
    parameters:
      -
        in: path
        name: id
        description: 'The device id from `GET /auth/devices`.'
        example: 12
        required: true
        schema:
          type: integer
  /api/v1/users:
    get:
      summary: 'List users'
      operationId: listUsers
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'The page number.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'The page number.'
            example: 1
        -
          in: query
          name: per_page
          description: 'Rows per page, max 100.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Rows per page, max 100.'
            example: 25
        -
          in: query
          name: search
          description: 'Matches name or email.'
          example: ahmed
          required: false
          schema:
            type: string
            description: 'Matches name or email.'
            example: ahmed
        -
          in: query
          name: 'filter[role]'
          description: 'Filter by role name; comma-separate for OR.'
          example: 'Sales,Sales_Manager'
          required: false
          schema:
            type: string
            description: 'Filter by role name; comma-separate for OR.'
            example: 'Sales,Sales_Manager'
        -
          in: query
          name: 'filter[created]'
          description: 'Inclusive date range `from,until`; either side may be omitted.'
          example: '2026-01-01,2026-06-30'
          required: false
          schema:
            type: string
            description: 'Inclusive date range `from,until`; either side may be omitted.'
            example: '2026-01-01,2026-06-30'
        -
          in: query
          name: sort
          description: 'Comma-separated; prefix with `-` for descending. Allowed: name, email, created_at.'
          example: '-created_at'
          required: false
          schema:
            type: string
            description: 'Comma-separated; prefix with `-` for descending. Allowed: name, email, created_at.'
            example: '-created_at'
        -
          in: query
          name: include
          description: 'Comma-separated relations. Allowed: roles.'
          example: roles
          required: false
          schema:
            type: string
            description: 'Comma-separated relations. Allowed: roles.'
            example: roles
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      type: user
                      name: 'System Administrator'
                      email: admin@example.com
                      roles:
                        -
                          id: 1
                          name: Admin
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                    pagination:
                      total: 1
                      count: 1
                      per_page: 25
                      current_page: 1
                      total_pages: 1
                  links:
                    first: ...
                    prev: null
                    next: null
                    last: ...
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        type: user
                        name: 'System Administrator'
                        email: admin@example.com
                        roles:
                          -
                            id: 1
                            name: Admin
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        type:
                          type: string
                          example: user
                        name:
                          type: string
                          example: 'System Administrator'
                        email:
                          type: string
                          example: admin@example.com
                        roles:
                          type: array
                          example:
                            -
                              id: 1
                              name: Admin
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: Admin
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          count:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 25
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: ...
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                      last:
                        type: string
                        example: ...
      tags:
        - '4. Users'
    post:
      summary: 'Create a user'
      operationId: createAUser
      description: "At least one role is required: an account with no role cannot sign in\nat all, so creating one would silently produce a dead account."
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 4
                    type: user
                    name: 'Ahmed Hassan'
                    email: ahmed@example.com
                    roles:
                      -
                        id: 2
                        name: Sales
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 4
                      type:
                        type: string
                        example: user
                      name:
                        type: string
                        example: 'Ahmed Hassan'
                      email:
                        type: string
                        example: ahmed@example.com
                      roles:
                        type: array
                        example:
                          -
                            id: 2
                            name: Sales
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: Sales
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '4. Users'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Display name.'
                  example: 'Ahmed Hassan'
                email:
                  type: string
                  description: 'Unique email address.'
                  example: ahmed@example.com
                password:
                  type: string
                  description: 'At least 8 characters with letters and numbers.'
                  example: secret123
                roles:
                  type: array
                  description: 'One or more existing role names.'
                  example:
                    - Sales
                  items:
                    type: string
              required:
                - name
                - email
                - password
                - roles
  '/api/v1/users/{id}':
    get:
      summary: 'Show a user'
      operationId: showAUser
      description: "Includes the target's full resolved permission list, so an administrator\nscreen can show exactly what this account can do."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    type: user
                    name: 'Ahmed Hassan'
                    email: ahmed@example.com
                    roles:
                      -
                        id: 2
                        name: Sales
                    permissions:
                      - projects.view
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      type:
                        type: string
                        example: user
                      name:
                        type: string
                        example: 'Ahmed Hassan'
                      email:
                        type: string
                        example: ahmed@example.com
                      roles:
                        type: array
                        example:
                          -
                            id: 2
                            name: Sales
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 2
                            name:
                              type: string
                              example: Sales
                      permissions:
                        type: array
                        example:
                          - projects.view
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '4. Users'
    patch:
      summary: 'Update a user'
      operationId: updateAUser
      description: "Send only the fields you want changed. Setting `password` revokes every\nAPI session belonging to that user — an administrator resetting a\npassword expects the old credentials to stop working immediately."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    type: user
                    name: 'Ahmed H.'
                    email: ahmed.h@example.com
                    roles:
                      -
                        id: 3
                        name: Sales_Manager
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      type:
                        type: string
                        example: user
                      name:
                        type: string
                        example: 'Ahmed H.'
                      email:
                        type: string
                        example: ahmed.h@example.com
                      roles:
                        type: array
                        example:
                          -
                            id: 3
                            name: Sales_Manager
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: Sales_Manager
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '4. Users'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'optional New display name.'
                  example: 'Ahmed H.'
                email:
                  type: string
                  description: 'optional New unique email.'
                  example: ahmed.h@example.com
                password:
                  type: string
                  description: "optional New password; revokes the user's sessions."
                  example: newsecret1
                roles:
                  type: array
                  description: "optional Replaces the user's roles entirely."
                  example:
                    - Sales_Manager
                  items:
                    type: string
    delete:
      summary: 'Delete a user'
      operationId: deleteAUser
      description: "Also revokes all of the target's API tokens. UserPolicy forbids deleting\nyour own account, so this always returns 403 when `user` is the caller."
      parameters: []
      responses:
        204:
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - '4. Users'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: user
        description: 'The user id.'
        example: 3
        required: true
        schema:
          type: integer
  /api/v1/roles:
    get:
      summary: 'List roles'
      operationId: listRoles
      description: ''
      parameters:
        -
          in: query
          name: search
          description: 'Matches the role name.'
          example: sales
          required: false
          schema:
            type: string
            description: 'Matches the role name.'
            example: sales
        -
          in: query
          name: sort
          description: 'Allowed: name, created_at. Prefix `-` for descending.'
          example: name
          required: false
          schema:
            type: string
            description: 'Allowed: name, created_at. Prefix `-` for descending.'
            example: name
        -
          in: query
          name: include
          description: 'Allowed: permissions.'
          example: permissions
          required: false
          schema:
            type: string
            description: 'Allowed: permissions.'
            example: permissions
        -
          in: query
          name: per_page
          description: 'Rows per page, max 100.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Rows per page, max 100.'
            example: 25
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      type: role
                      name: Admin
                      guard_name: web
                      users_count: 1
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                    pagination:
                      total: 1
                      count: 1
                      per_page: 25
                      current_page: 1
                      total_pages: 1
                  links:
                    first: ...
                    prev: null
                    next: null
                    last: ...
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        type: role
                        name: Admin
                        guard_name: web
                        users_count: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        type:
                          type: string
                          example: role
                        name:
                          type: string
                          example: Admin
                        guard_name:
                          type: string
                          example: web
                        users_count:
                          type: integer
                          example: 1
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 1
                          count:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 25
                          current_page:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: ...
                      prev:
                        type: string
                        example: null
                        nullable: true
                      next:
                        type: string
                        example: null
                        nullable: true
                      last:
                        type: string
                        example: ...
      tags:
        - '5. Roles'
    post:
      summary: 'Create a role'
      operationId: createARole
      description: ''
      parameters: []
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 9
                    type: role
                    name: Warehouse_Lead
                    guard_name: web
                    permissions:
                      - inventory.view
                      - issue_vouchers.create
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      type:
                        type: string
                        example: role
                      name:
                        type: string
                        example: Warehouse_Lead
                      guard_name:
                        type: string
                        example: web
                      permissions:
                        type: array
                        example:
                          - inventory.view
                          - issue_vouchers.create
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '5. Roles'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Unique role name; letters, digits, spaces, `_` and `-`.'
                  example: Warehouse_Lead
                permissions:
                  type: array
                  description: 'Permission names from `GET /permissions`.'
                  example:
                    - inventory.view
                    - issue_vouchers.create
                  items:
                    type: string
              required:
                - name
                - permissions
  '/api/v1/roles/{id}':
    get:
      summary: 'Show a role'
      operationId: showARole
      description: 'Always includes the full permission list attached to the role.'
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 2
                    type: role
                    name: Sales
                    guard_name: web
                    users_count: 4
                    permissions:
                      - projects.view
                      - projects.create
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 2
                      type:
                        type: string
                        example: role
                      name:
                        type: string
                        example: Sales
                      guard_name:
                        type: string
                        example: web
                      users_count:
                        type: integer
                        example: 4
                      permissions:
                        type: array
                        example:
                          - projects.view
                          - projects.create
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '5. Roles'
    patch:
      summary: 'Update a role'
      operationId: updateARole
      description: "`permissions` **replaces** the role's whole set — send the complete list,\nnot a delta. That mirrors the panel's checkbox grid, where saving writes\nwhatever is ticked."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 9
                    type: role
                    name: Warehouse_Supervisor
                    guard_name: web
                    permissions:
                      - inventory.view
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 9
                      type:
                        type: string
                        example: role
                      name:
                        type: string
                        example: Warehouse_Supervisor
                      guard_name:
                        type: string
                        example: web
                      permissions:
                        type: array
                        example:
                          - inventory.view
                        items:
                          type: string
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
      tags:
        - '5. Roles'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'optional New unique role name.'
                  example: Warehouse_Supervisor
                permissions:
                  type: array
                  description: 'optional The complete replacement permission set.'
                  example:
                    - inventory.view
                  items:
                    type: string
    delete:
      summary: 'Delete a role'
      operationId: deleteARole
      description: "RolePolicy refuses to delete the Admin role, so that always returns 403.\nUsers who held the deleted role lose its permissions immediately; a user\nleft with no role at all can no longer sign in."
      parameters: []
      responses:
        204:
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - '5. Roles'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The role id.'
        example: 2
        required: true
        schema:
          type: integer
  /api/v1/permissions:
    get:
      summary: 'List permissions'
      operationId: listPermissions
      description: "Returns every permission in the catalog, grouped by its prefix, with the\nlocalized label the panel shows. Bounded (~190 rows, fixed by the\nseeder) so it is not paginated.\n\nLabels honour `Accept-Language`."
      parameters: []
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      group: projects
                      group_label: 'Project Management'
                      permissions:
                        -
                          name: projects.view
                          label: 'View Projects'
                        -
                          name: projects.create
                          label: 'Create Project'
                  meta:
                    request_id: 9f1c...
                    api_version: '1'
                    count: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        group: projects
                        group_label: 'Project Management'
                        permissions:
                          -
                            name: projects.view
                            label: 'View Projects'
                          -
                            name: projects.create
                            label: 'Create Project'
                    items:
                      type: object
                      properties:
                        group:
                          type: string
                          example: projects
                        group_label:
                          type: string
                          example: 'Project Management'
                        permissions:
                          type: array
                          example:
                            -
                              name: projects.view
                              label: 'View Projects'
                            -
                              name: projects.create
                              label: 'Create Project'
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: projects.view
                              label:
                                type: string
                                example: 'View Projects'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: 9f1c...
                      api_version:
                        type: string
                        example: '1'
                      count:
                        type: integer
                        example: 1
      tags:
        - '6. Permissions'
  /api/v1/items:
    get:
      summary: 'List items'
      operationId: listItems
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'The page number.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'The page number.'
            example: 1
        -
          in: query
          name: per_page
          description: 'Rows per page, max 100.'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Rows per page, max 100.'
            example: 25
        -
          in: query
          name: search
          description: 'Matches name, SKU or description.'
          example: copper
          required: false
          schema:
            type: string
            description: 'Matches name, SKU or description.'
            example: copper
        -
          in: query
          name: 'filter[type]'
          description: 'Item type; comma-separate for OR.'
          example: 'raw_material,consumable'
          required: false
          schema:
            type: string
            description: 'Item type; comma-separate for OR.'
            example: 'raw_material,consumable'
        -
          in: query
          name: 'filter[unit]'
          description: 'Unit of measure.'
          example: kg
          required: false
          schema:
            type: string
            description: 'Unit of measure.'
            example: kg
        -
          in: query
          name: 'filter[is_scrap]'
          description: 'Only scrap variants (true) or only real items (false).'
          example: false
          required: false
          schema:
            type: boolean
            description: 'Only scrap variants (true) or only real items (false).'
            example: false
        -
          in: query
          name: 'filter[below_minimum]'
          description: 'Only items whose total available quantity is under minimum_stock.'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Only items whose total available quantity is under minimum_stock.'
            example: true
        -
          in: query
          name: 'filter[created]'
          description: 'Inclusive date range from,until.'
          example: '2026-01-01,2026-06-30'
          required: false
          schema:
            type: string
            description: 'Inclusive date range from,until.'
            example: '2026-01-01,2026-06-30'
        -
          in: query
          name: sort
          description: 'Comma-separated; prefix with - for descending. Allowed: name, sku, unit_cost, created_at.'
          example: name
          required: false
          schema:
            type: string
            description: 'Comma-separated; prefix with - for descending. Allowed: name, sku, unit_cost, created_at.'
            example: name
        -
          in: query
          name: include
          description: 'Comma-separated relations. Allowed: inventories, scrapSource.'
          example: inventories
          required: false
          schema:
            type: string
            description: 'Comma-separated relations. Allowed: inventories, scrapSource.'
            example: inventories
        -
          in: query
          name: updated_after
          description: 'ISO-8601 timestamp; returns only rows changed since then.'
          example: '2026-08-01T10:00:00Z'
          required: false
          schema:
            type: string
[...]
